#main_news_container {
    margin:150px 120px 100px 110px;
    padding-left: 50px;

}

#box_for_all_news {
    max-width: 100vw;
    margin-right: 150px;
}


.cart__item>a{

    color:black;

}
.cart__item>a:hover{
    
    color:black;

}


.more {
    font-weight: 600;
    color:rgb(103, 103, 197);
}


.card__item-text {
font-size: 1em;

}

.main_card_img {
max-height: 400px;
object-fit: cover;
}